.item-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
}

.item-details .item-image {
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

.item-details .list-group-item {
    padding: .25rem;
}

.item-details .list-group-item .term {
    padding: .5rem;
}