.header {
    margin-top: .5rem;
    padding-left: 10px;
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3 px;
   
}

.header ul li:hover {
    
    background-color: #444;
}

.header h3 a {
    color: aliceblue;    
}
.header h3 a:hover {
    color: #00bc8c;
    text-decoration: none;
}